ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.home-wrapper {


  display: flex;

}

li {}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

.active {
  font-weight: bold;
}